.matchHistoryHeader{
    padding: 20px 0;
    background-color: #31313b;
}

.matchHistoryTitle{
    text-align: center;
    margin: auto;
}

.matchCard{
    margin: 5px 0;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
}

.WIN{
    background-color: #28344E;
}

.LOSS{
    background-color: #59343B;
}





.matchType{
    min-width: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8px;
    padding-right: 8px;
}

.matchType > div{
    padding: 2px;
}

.qType{
    font-size: 20px;
}

.datePlayed{
    font-size: 20px;
}

.timeAgo{
    font-size: 15px;
}

.outcome{
    font-size: 20px;
}

.gameLength{
    font-size: 15px;
}





.champPlayed{
    display: flex;
    align-items: center;
}

.champContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.champIcon{
    margin: 2px;
    border-radius: 50%;
    height: 60px;
}

.sum-spells{
    display: flex;
    flex-direction: column;
}

.sum-spells > img{
    margin: 2px;
    border-radius: 3px;
    height: 25px;
}

.runes{

}

/* .champName{
    font-size: 15px;
} */





.kda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
}

.scoreline{
    font-size: 25px;
}

.kda-ratio{
    font-size: 20px;
}





.level-cs-tier{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
}

.level-cs-tier > div{
    font-size: 15px;
}

.championLevel{

}

.cs{

}

.kp{

}

.tier{

}