html, body{
    margin: 0;
}

#root{

}

.app{

}

main{
    min-height: 100vh;
    background-color: #1c1c1f;
    display: flex;
    flex-direction: column;
    color: #FFF;
}

.navbar{
    background-color: #5383E8;
}

.title{
    padding: 10px;
    margin: auto;
}

.navElements{
    margin: auto;
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title{
    margin: 0;
    text-align: left;
}

.form{

}

.displayCard{

}

.top{
    background-color: #31313b;
    height: 250px;
}

.topContainer{
    width: 1200px;
    margin: auto;
}

/* .infoContainer{
    width: 1200px;
    padding: 10px;
    margin: auto;
    display: grid;
    grid-template-areas:
        'tl tr tr tr'
        'bl br br br'
        'bl br br br';
    gap: 6px;
}

.infoContainer > div {
    text-align: center;
    border-radius: 3px;
    font-size: 30px;
  }

.topLeft{
    padding: 20px 0;
    width: 300px;
    background-color: #31313b;
    grid-area: tl;
}

.topRight{
    padding: 20px 0;
    width: 900px;
    background-color: #31313b;
    grid-area: tr;
}

.botLeft{
    padding: 20px 0;  
    width: 300px;
    background-color: #31313b;
    grid-area: bl;
} */

.matchHistory{
    margin: 10px auto;
    width: 900px;
    grid-area: br;
}

.matchHistory > div{
    border-radius: 3px;
}
