html, body{
    margin: 0;
    background-color: #E5E5E5;
}

.app{

}

main{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.title{
    padding: 10px;
    margin: auto;
}

.input{
    padding: 10px;
    margin: auto;
}

.displayCard{
    background-color: #1c1c1f;
    color: #FFF;
}

.top{
    background-color: #31313b;
    height: 250px;
}

.infoContainer{
    width: 1200px;
    padding: 10px;
    margin: auto;
    display: grid;
    grid-template-areas:
        'tl tr tr tr'
        'bl br br br'
        'bl br br br';
    gap: 6px;
}

.infoContainer > div {
    background-color: #31313b;
    text-align: center;
    border-radius: 3px;
    padding: 20px 0;
    font-size: 30px;
  }

.topLeft{
    width: 300px;
    grid-area: tl;
}

.topRight{
    width: 900px;
    grid-area: tr;
}

.botLeft{
    width: 300px;
    grid-area: bl;
}

.botRight{
    width: 900px;
    grid-area: br;
}
